/* App header */
.App-header{
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */
#mainHeader{
  text-align: center;
  margin: 10px;
}

/* Navigation bar */
.navBar{
  background-color: rgb(179, 179, 179);
  width: 100%;
  height: 35px;
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
}

/* Buttons */
.buttons{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding-left: 100px;
}

/* Search */
.search{
  background-color: rgb(247, 247, 247);
  border: 3px solid black;
  border-radius: 5px;
}

.searchBox{
  width: 100%; 
  font-size: 20px;
  padding-top: 3px;
  border: none;
  background-color: rgb(247, 247, 247);
}

.results{
  position: absolute;
  height: 100px;
  width: 300px;
}

.searchResult{
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 50px;
  border: 1px solid black;
  padding-left: 5px;
}

/* Stats */
.stats{
  font-size: 30px;
  padding-left: 30px;
}

/* Main section */
.mainSection{
  display: grid;
  grid-template-columns: 200px 1fr;
}

/* Main list */
.mainList{
  height: 400px;
  width: 200px;
  background-color: aquamarine;
}

/* Portfolios */
.portfolios{
  background-color: rgb(111, 176, 233);
  height: 62px;
  display: grid;
  grid-template-columns: 1fr 60px;
}

.portfolioButtons{
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 20px;
}

.selectedPortfolio{
  padding: 0px;
  margin:0px;
  padding-top: 10px;
}

/* AddNew */
.addNewPortfolio{
  display: grid;
  grid-template-columns: 1fr 50px;
  position: absolute;
  background-color: rgb(80, 80, 80);
  height: 42px;
  margin-left: -150px;
  width: 150px;
}

.newPortfolio{
  height: 36px;
  width: 150px;
}

.allPortfolios{
  position:absolute;
  background-color:rgb(145, 217, 241);
  margin-top: 42px;
  width: 200px;
}

.portfolioList{
  border: 3px solid black;
  height: 60px;
  margin: 0px;
  padding: 0px;
}

.deletePortButton{
  position: absolute;
  z-index: 20;
}

/* Ticker info */
.tickerInfo{
  display: grid;
  grid-template-columns: 1fr 2fr 60px 20px;
}

.infoName{
  padding: 0px;
  padding-top: 3px;
  margin: 0px;
}

.shareCount{
  width: 100%;
  height: 20px;
}

.count{
  padding: 0px;
  padding-top: 3px;
  margin: 0px;
  text-align: center;
}

/* Calender */
.calender{
  width: 1fr;
  margin-right: 180px;
  height: 400px;
  background-color: aqua;
  display: grid;
  grid-template-rows: 1fr 50px;
}

/* MonthStack */
.monthStack{
  display: grid;
  grid-template-columns: repeat(12,1fr);
}

/* MonthNames */
.monthNames{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  text-align: center;
  padding-top: 8px;
  border-top: 3px solid black;
  font-size: 25px;
}